!! Transparency (0-1):
*.alpha: 0.9

!! Set a default font and font size as below:
*.font: Fira Code:pixelsize=17:antialias=true:autohint=true
*.fontemoji: Noto Color Emoji:pixelsize=13:antialias=true:autohint=true
! *.dwmfont: fixed:size=12:antialias=true:autohint=true
*.dwmfont: NotoSans Nerd Font:size=12:antialias=true:autohint=true
*.dwmfontalt: mononoki Nerd Font:size=12:antialias=true:autohint=true
*.dmenufont: fixed:size=10

!! ST settings
*.tabspaces: 8
*.termname: st-256color
*.shell: /bin/zsh
*.minlatency: 8
*.maxlatency: 33
*.blinktimeout: 800
*.bellvolume: 0
*.cwscale: 1.0
*.chscale: 1.0

!! DWM settings
*.borderpx: 2
*.snap: 32
*.showbar: 1
*.topbar: 1
*.nmaster: 1
*.mfact: 0.50
*.resizehints: 1

!! Scaling settings
! Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! rofi.dpi: 120
/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */
/* cursor 256 */
/* revcursor 257 */
/* background 258 */
/* foreground 259 */

!! One Half Black
!! Terminal Colors
*.color0: #282c34 
*.color1: #e07c75
*.color2: #98c379
*.color3: #e5c07b
*.color4: #61afef
*.color5: #c678dd
*.color6: #56b6c2
*.color7: #dcdfe4
*.color8: #282c34
*.color9: #e06c75
*.color10: #98c379
*.color11: #e5c07b
*.color12: #61afef
*.color13: #c678dd
*.color14: #56b6c2
*.color15: #dcdfe4
*.cursor: #dcdfe4
*.revcursor: #555555
*.background: #000000
*.foreground: #f8f8f0
*.color260: #5a5475
*.normbgcolor: #1f1f1f
*.polybarnormbgcolor: #5a000000
*.normbordercolor: #444444
*.normfgcolor: #ffffff
*.selbgcolor: #282c34
*.selbordercolor: #282c34
*.selfgcolor: #ffffff
*.rofibg: #0f0f0f
*.rofiselbg: #9499a6
*.rofifg: #dcdfe4
*.rofiurgentfg: #dc322f
*.rofiseparatorcolor: #35363A
*.rofiactivefg: #859900
