
!! Transparency (0-1):
*.alpha: 0.9

!! Set a default font and font size as below:
*.font: Fira Code:pixelsize=17:antialias=true:autohint=true
*.fontemoji: Noto Color Emoji:pixelsize=13:antialias=true:autohint=true
! *.dwmfont: fixed:size=12:antialias=true:autohint=true
*.dwmfont: NotoSans Nerd Font:size=16:antialias=true:autohint=true
*.dwmfontalt: mononoki Nerd Font:size=12:antialias=true:autohint=true
*.dmenufont: fixed:size=10

!! ST settings
*.tabspaces: 8
*.termname: st-256color
*.shell: /bin/zsh
*.minlatency: 8
*.maxlatency: 33
*.blinktimeout: 800
*.bellvolume: 0
*.cwscale: 1.0
*.chscale: 1.0

!! DWM settings
*.borderpx: 2
*.snap: 32
*.showbar: 1
*.topbar: 1
*.nmaster: 1
*.mfact: 0.50
*.resizehints: 1

!! Scaling settings
! Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! rofi.dpi: 120
/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */
/* cursor 256 */
/* revcursor 257 */
/* background 258 */
/* foreground 259 */

!! Sonokai
*.color0: #2c2e34
*.color1: #fc5d7c
*.color2: #9ec072
*.color3: #e7c664
*.color4: #f39660
*.color5: #b39df3
*.color6: #76cce0
*.color7: #e2e2e3
*.color8: #2c2e34
*.color9: #fc5d7c
*.color10: #9ed072
*.color11: #e7c664
*.color12: #f39660
*.color13: #b39df3
*.color14: #76cce0
*.color15: #e2e2e3
*.cursor: #81a764
*.revcursor: #555555
*.background: #282a36
*.foreground: #ffffff
*.normbgcolor: #282a38
*.polybarnormbgcolor: #5a282a36
*.normbordercolor: #444444
*.normfgcolor: #ffffff
*.selbgcolor: #9ed072
*.polybarselbgcolor: #5A88c0d0
*.selbordercolor: #81a764
*.polybarselbordercolor: #0a81a1c1
*.selfgcolor: #ffffff
*.rofibg: #2c2e34
*.rofiselbg: #555555
*.rofifg: #9ed072
*.rofiurgentfg: #dc322f
*.rofiseparatorcolor: #35363A
*.rofiactivefg: #859900
